<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            <a href="{{ path('app_authors_page') }}">Authors</a>
            <a href="{{ path('app_inviters_page') }}">Inviters</a>
        {% endblock %}
    </body>
</html>
